<header>
    <div class="site-nav-bar">
        <p class="site-logo">
            <a routerLink="/">Healthy Recipes Blog</a>
        </p>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/recipes">Recipes</a></li>
            <li><a routerLink="/search">Search</a></li>
            <li><a routerLink="/create-recipe">Create Recipe</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </div>
    <h1>Healthy food does not need to have bad taste!</h1>
</header>