<div class="home-page">
    <h2>Ever feel that eating healthy is boring and you cannot think of a nice recipe ?</h2>
    <p>This is a blog page for all those who want to either train or simply have a healthy lifestyle and find it hard to think what to eat. 
        <br>
        Here you can find people just like you and share all your interesting ideas about eating healthy and also of course tasty!
     </p>
     <div class="best-recipes-container">
        <h3>Our newest recipes</h3>
        <div class="newest-recipes-list">
            <ul class="recipe-list-items">
                
            </ul>
        </div>
     </div>
</div>
