<div class="create-recipe-page">
    <form #createRecipeForm="ngForm" (submit)="submitCreateRecipeForm()">
            <h2>Create recipe</h2>
            <div class="form-group">
                <label for="recipeName">Recipe name:</label>
                <input ngModel type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Enter recipe name here" #recipeNameInput="ngModel">
            </div>
            <div class="form-group">
                <label for="author">Author name:</label>
                <input ngModel type="text" class="form-control" id="author" name="author" placeholder="Enter author name here" authorInput="ngModel">
            </div>
            <div class="form-group">
                <label for="imageUrl">Image url:</label>
                <input ngModel type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter image url here" imageUrlInput="ngModel">
            </div>
            <div class="form-group">
                <label for="difficultyLevel">Difficulty level:</label>
                <input ngModel type="text" class="form-control" id="difficultyLevel" name="difficultyLevel" placeholder="Enter difficulty level here" difficultyLevelInput="ngModel">
            </div>
            <div class="form-group">
                <label for="shortDescription">Short description:</label>
                <input ngModel type="text" class="form-control" id="shortDescription" name="shortDescription" placeholder="Enter short description here" shortDescriptionInput="ngModel">
            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <input ngModel type="text" class="form-control" id="ingredients" name="ingredients" placeholder="Enter ingredients here" ingredientsInput="ngModel">
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea ngModel type="text" class="form-control" id="instructions" name="instructions" placeholder="Enter instructions here" instructionsInput="ngModel"></textarea>
            </div>
            <button type="submit" class="btn btn-primary-submit-register">Create recipe</button>
        
    </form>
</div>
