.search-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-page-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;

}

.search-page-container p {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 200px;
}

.search-page-container .all-recipes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.search-page-container .all-recipes-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: #ccc;
    max-width: 500px;
    flex-wrap: wrap;
    p {
        margin-bottom: 0;
        margin-top: 0;
    }
    img {
        display: block;
        width: 350px;
        height: 250px;
        border-radius: 15px;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    h4 {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    p {
        font-size: 20px;
        color: black;
    }

    a {
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        background-color: green;
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        cursor: pointer;
    }

    a:hover {
        background-color: yellow;
    }
}

.search-page-container .form-group {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 40px 80px 40px 80px;
    background-color: #ccc;
    label {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        color: black;
    }

    input {
        font-size: 18px;
        border-radius: 10px;
        border: 2px solid black;
        height: 40px;
        padding: 10px;
    }

    input:hover {
        background-color: yellow;
    }

    button {
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 10px;
        background-color: green;
        color: black;
        width: 200px;
        height: 50px;
    }

    button:hover {
        background-color: yellow;
        color: black;
    }
}