<div class="login-page">
    <form #myForm="ngForm" (submit)="submitForm($event, myForm)">
            <h2>Log in to your account</h2>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email here" required title="Email is required!">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password here" required title="Password is required!">
            </div>
        <button type="submit" class="btn btn-primary-submit-register">Submit</button>
        
    </form>
</div>
