<div class="recipe-details-container">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="!isLoading" class="recipe-details" [@myAnimationTrigger]>
        <h2>Recipe Details</h2>
        <img src="{{currentRecipe.imageUrl}}" alt="recipe-details-image">
        <p>Recipe name: {{currentRecipe.recipeName}}</p>
        <p>Author: {{currentRecipe.author}}</p>
        <p>Difficulty level: {{currentRecipe.difficultyLevel}}</p>
        <p>Short description: {{currentRecipe.shortDescription}}</p>
        <p>Ingredients: {{currentRecipe.ingredients}}</p>
        <p>Instructions:</p>
        <p class="instructions">{{currentRecipe.instructions}}</p>
        <!-- <p>Likes: {{currentRecipe.likes.length}}</p> -->
        <div *ngIf="isUserLoggedIn && userIsOwner" class="request-buttons">
            <button class="btn-btn-edit" (click)="editRecipeHandler()">Edit</button>
            <button class="btn-btn-delete" (click)="deleteRecipeHandler()">Delete</button>
        </div>
        <!-- <button *ngIf="isUserLoggedIn && !userHasLikedRecipe && !userIsOwner" class="btn-btn-likes" (click)="likeRecipeButtonHandler()">Like</button> -->
    </div>

    <form *ngIf="isUserLoggedIn && !userIsOwner &&!isLoading" #commentsForm="ngForm" class="comments-form" (submit)="submitCommentHandler()" [@myAnimationTrigger]>
        <h2>Leave a comment</h2>
        <textarea ngModel name="comment" id="comment" placeholder="Write your comment here..." #commentInput="ngModel"></textarea>
        <button class="btn-btn-comment" type="submit">Submit comment</button>
    </form>

    <button *ngIf="recipeComments.length > 0 && !isLoading && !commentsShown" class="btn-btn-show-comments" (click)="triggerComments()">Show comments</button>
    <button *ngIf="recipeComments.length > 0 && !isLoading && commentsShown" class="btn-btn-show-comments" (click)="triggerComments()">Hide comments</button>
    <div *ngIf="recipeComments.length > 0 &&!isLoading && commentsShown" class="comments-container" [@myAnimationTrigger]>
        <h2>Comments</h2>
        <ul class="comments-list" [@myAnimationTrigger]>
            <li *ngFor="let comment of recipeComments" class="comment-list-item">
                <h3>Author: {{comment.author}}</h3>
                <p>Comment:</p>
                <p>{{comment.comment}}</p>
            </li>
        </ul>
    </div>

    <p *ngIf="recipeComments.length === 0 &&!isLoading" class="no-comments">No comments for this recipe yet...</p>
</div>
